@inherits LayoutComponentBase
@inject AuthService AuthService
@implements IDisposable

<div class="flex min-h-screen bg-gray-50 dark:bg-gray-900">
    <NavBar />
    <main class="flex-1 ml-20 w-[calc(100%-5rem)] p-4 flex flex-col items-center">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.InitializeAsync();
        AuthService.AuthStateChanged += OnAuthStateChanged;
    }

    private async void OnAuthStateChanged(object? sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AuthService.AuthStateChanged -= OnAuthStateChanged;
    }
}
